input[type='checkbox']{
    display: none;
}
.list{
    background: #fff;
    padding: .3rem;
    margin-bottom: 1.5rem;
}
.list div{
    display: flex;
    justify-content: space-between;
    margin-bottom: .2rem;
}
.list div label.check{
    display: inline-block;
    width: .34rem;
    height: .34rem;
    line-height: .34rem;
    color: #fff;
    border-radius: 50%;
    font-size: .3rem;
    text-align: center;
    margin-top: .1rem;
    border: .01rem solid #F9C84E;
}
.list div input[type='checkbox']:checked+label{
    background: #F9C84E;
}
.list div .name{
    display: inline-block;
    width: 2rem;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.list div .delete{
    display: inline-block;
    width: .3rem;
    height: .3rem;
    line-height: .3rem;
    border: .01rem solid #93887F;
    border-radius: 50%;
    margin-top: .1rem;
    text-align: center;
    color: #93887F;
    font-size: .3rem;
    background: #fff;
}
.addPerson{
    height: 1rem;
    line-height: 1rem;
    color: #fff;
    font-size: .34rem;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #F9C84E;
}