.menu{
    display: flex;
    justify-content: space-between;
    text-align: center;
    box-sizing: border-box;
    background: #fff;
    border: .01rem solid #ebebeb;
    margin-bottom: .2rem;
    padding: 0 .2rem;
}
.menu li{
    padding: .4rem 0;
    border-bottom: .01rem solid #fff;
}
.menu li .icon img{
    width: .6rem;
    height: .7rem;
}
.menu li p:last-child{
    font-size: .24rem;
    color: #312d2a;
}
.menu li .icons img{
    width: .64rem;
    height: .64rem;
}
.outer{
    margin-bottom: 1.5rem;
}
.menu li.active{
    border-bottom: .01rem solid #F9C84E;
}