.menu{
    display: flex;
    justify-content: space-between;
    text-align: center;
    box-sizing: border-box;
    padding: .4rem .05rem;
    background: #fff;
    border: .01rem solid #ebebeb;
    margin-bottom: .2rem;
}
.menu li .icon img{
    width: .6rem;
    height: .7rem;
}
.menu li p:last-child{
    font-size: .24rem;
    color: #312d2a;
}
.menu li .icons img{
    width: .64rem;
    height: .64rem;
}
.outer{
    margin-bottom: 1.5rem;
}