*{
    padding:0;
    margin:0;
    font-family:"Microsoft Yahei","微软雅黑",'华文细黑',Tahoma,Arial,Helvetica,STHeiti;
}
body{
    color: #333;
    box-sizing: border-box;
    background: #f7f7f7; 
    width: 100%;
    height: 100%;
    font-size: .34rem;
    word-break:break-all;
    /* overflow: hidden; */
}
ul li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #333;
}
button,
input,
textarea{
    outline:none;
    border:none;
}

/* 详情样式 */
.detailWRL .firstContent img{
    max-width: 7rem;
    max-height: 4.2rem;
    border-radius: .08rem;
}
.detailWRL .dayTravels img,
.detailWRL .dayTravel img{
    max-width: 5rem;
    max-height: 3rem;
    border-radius: .08rem;
    margin: .15rem 0;
}
.detailWRL table{
    max-width: 7.3rem;
    font-size: .2rem;
}