.second .banner img{
    width: 100%;
    height: 1.91rem;
}
.second .title{
    color:#F7705E;
    font-size: .28rem;
    margin-bottom: .2rem;
    text-align: center;
}
.second .flexImg{
    display: flex;
    justify-content: space-between;
    margin: .2rem 0;
}
.second .imgs{
    width: 5.34rem;
    height: 3.62rem;
    border: .01rem solid #F7705E;
    border-radius: .08rem;
    text-align: center;
}
.second .imgs img{
    width: 4.5rem;
    height: 3.3rem;
    margin-top: 0.15rem;
}
.second .flexImg p.normal{
    margin-left: .4rem;
}
.second .flexImg p.spicial{
    margin-right: .4rem;
}
.second .flexImg p.normal,
.second .flexImg p.spicial{
    font-size: .32rem;
    width: .5rem;
    height: 3.45rem;
    background: #F7705E;
    text-align: center;
    color: #fff;
    padding: .05rem .1rem;
}
.second .flexImg .circle{
    display: inline-block;
    width: .25rem;
    height: .25rem;
    background: #fff;
    border-radius: 50%;
    margin: 0 .05rem;
}
.second .content{
    font-size: .28rem;
    color: #888897;
    text-indent: .6rem;
}
.second .priceReduce{
    text-indent: .4rem;
}
.second .blockTitle{
    font-size: .32rem;
    color: #565656;
    margin: .2rem 0;
}
.second .titleColor{
    color: #F7705E;
    font-size: .32rem;
    margin: .15rem 0;
}
.second .bgTitle .haveBG{
    display: inline-block;
    width: 3.1rem;
    height: .8rem;
    background: url('../image/template2-backdrop.png');
    background-size: 100% 100%;
    background-repeat:no-repeat;
    line-height: .8rem;
    text-align: center;
    color: #565656;
    font-size: .46rem;
    margin: .2rem 0;
    letter-spacing: .3rem;;
    font-family: PingFangSC-Medium;
}
.second .tableTitle{
    color: #565656;
    font-size: .3rem;
}
.second table{
    padding: 0 .4rem;
}
.second table td{
    font-size: .28rem;
    color: #888897;
}
.second table tr{
    display: block;
    padding: .2rem 0;
}
.second table td:first-child{
    width: 1.6rem;
    color: #565656;
    font-size: .3rem;
}
.second .dayTravel .days{
    display: flex;
    justify-content: space-between;
    margin-bottom: .5rem;
}
.second .dayTravel .days ul li{
    padding: .1rem 0;
}
.second .dayTravel .days ul li img{
    margin-left: .2rem;
    max-width: 4.2rem;
    max-height: 3.9rem;
}
.second .dayTravel .days ul li span{
    display: inline-block;
    width: .12rem;
    height: .12rem;
    background: #F7705E;
    border-radius: 50%;
    margin-right: .2rem;
}
.second .dayTravel .days p{
    min-width: .81rem;
    height: 1.11rem;
    background: url('../image/template2-rocket.png');
    background-size: 100% 100%;
    background-repeat:no-repeat;
    line-height: 1.11rem;
    text-align: center;
    color: #F7705E;
    font-size: .28rem;
}
.second .footer{
    margin: .5rem 0 1.5rem;
    text-align: center;
    color: #565656;
    font-size: .28rem;
 }
.second .footer span{
    display: inline-block;
    width: .23rem;
    height: .23rem;
    background: #565656;
    margin-right: .1rem;
}