.third .banner img{
    width: 6.9rem;
    height: 4.5rem;
}
.third .title{
    color:#7599C6;
    font-size: .28rem;
    margin-bottom: .2rem;
    text-align: center;
}
.third .imgs img{
    width: 6.9rem;
    height: 2.8rem;
    margin-top: 0.15rem;
}
.third .content{
    font-size: .28rem;
    color: #7599C6;
    text-indent: .6rem;
}
.third .header .blockTitle{
    font-size: .42rem;
    color: #6E94C3;
    margin: .2rem 0;
    text-align: center;
    padding: 0 .1rem;
}
.third .header .blockTitle:before,
.third .header .blockTitle:after{
    display: inline-block;
    content: '';
    background: #6E94C3;
    width: .2em;
    height: .1rem;
    font-size: .42rem;
    border-radius: 50%;
    margin-bottom: .1rem;
}
.third .bgTitle{
    margin: .3rem 0;
}
.third .haveBG{
    font-size: .46rem;
    color: #7599C6;
}
.third .bgTitle img.bgImg{
    width: .33rem;
    height: .46rem;
}
.third .bgTitle img.bgImg,
.third .bgTitle img.span{
    vertical-align: middle;
}
.third .titleColor{
    color: #F7705E;
    font-size: .32rem;
}
.third table{
    padding: 0 .4rem;
}
.third table td{
    font-size: .28rem;
    color: #888897;
}
.third table tr:nth-child(odd){
    background: #F7F7F7;
}
.third table tr:nth-child(even){
    background: #EFFAFF;
}
.third table tr{
    padding: .2rem 0;
}
.third table td:first-child{
    width: 1.6rem;
}
.third .dayTravel{
    box-sizing: border-box;
    padding: .3rem 0;
    margin-top: .3rem;
    box-shadow: 0 .02rem .04rem .02rem rgba(0,0,0,0.30);
}
.third .dayTravel .title{
    display: inline-block;
    background:#6E94C3;
    color: #fff;
    padding: .05rem .2rem;
    font-size: .32rem;
}
.third .dayTravel .inner{
    text-align: center;
    padding: 0 .3rem;
    box-sizing: border-box;
}
.third .dayTravel .inner img{
    width: 5.88rem;
    height: 3.5rem;
}
.third .dayTravel .travelText{
    color: #7599C6;
    font-size: .28rem;
    margin: .2rem 0;
}
.third .service .blockTitle{
    color: #748395;
    font-size: .32rem;
}
.third .service .content{
    font-size: .28rem;
    color: #748395;
}
.third .footer{
    margin: .5rem 0 1.5rem;
    text-align: center;
    color: #6E94C3;
    font-size: .28rem;
 }
.third .footer span{
    display: inline-block;
    width: .23rem;
    height: .23rem;
    background: #6E94C3;
    margin-right: .1rem;
}