@charset "utf-8";/*---小宇博客(www.huceo.com),更新时间:2016.12.28---*/
body{margin:0;padding:0;font-family:Arial,"Proxima Nova","Helvetica Neue",Helvetica,sans-serif;font-size:62.5%;line-height:1.6em;background:#9c6 url("image/topp.gif") repeat-x top}a{text-decoration:none}a:link{color:#000}a:visited{color:#000}a:hover{color:#FF0000;text-decoration:underline}a:active{color:#666}h1,h2,h3,h5,h6{margin:0;padding:0;font-size:1.2em;font-weight:bold}ul{margin:0;padding:0;list-style-type:none}li,p{margin:0;padding:0}img{border:none}#divser,#center,#header,#bodyer,#middle,#footer{float:left;width:100%}#pageer{margin:auto;width:1000px}#header{height:200px;background:url(image/top.jpg) no-repeat}#bodyer{background:url(image/bodyer.jpg) repeat-y}#middle{background:url(image/middle.gif) bottom no-repeat}#footer{text-align:center;color:#FFF;margin:22px auto;}#footer a{color:#FFF}#PowerBy{margin-bottom:6px}#mainer{padding:0 0 20px 43px;float:left;width:660px}#sideer{color:#666;padding:0 43px 20px 0;float:right;width:242px}#Logo{padding:20px 0 0 50px;float: left;text-align: left;text-indent: -999em;background: url(/idxlogo.png) 70px 20px no-repeat;}
#Logo h1 a{width: 171px;height:71px;display: block;margin-left: 15px;} #BlogTitle{padding:0 0 0 4px;;margin:100px 0 0 72px;color:#6C0;font-size:1.8em;font-weight:bold;}
#Blogad {top:26px;margin:0 0 0 414px;position:absolute;}
#Menu{padding:0;margin:0;font-size:1.4em;}
#Menu a{color:#030;margin:0;text-decoration:none}#Menu a:hover{color:#ff0000;text-decoration:none;background:#B4F60C}#Menu ul{padding:50px 42px 0 42px;}#Menu li{padding:4px 27.4px;margin:0;font-weight:bold;float:left;padding-bottom:6px;border:1px solid #6B8E23}#Menu li:hover {background:#B4F60C;}#Menu li span{padding:12px 0 2px 4px;background:url(image/hot.gif) no-repeat}.pagebar_comment,.pagebar{padding:18px 36px 0 28px;float:left;width:606px;height:31px;font-weight:bold;}.pagebar{background:url(image/istop.gif) no-repeat}.pagebar span.fenye{margin:0 6px 0 0;font-size:1.4em;color:#FFF;background:#9C3}.pagebar a,.pagebar_comment a,.pagebar .now-page{margin:0 3px;text-align:center;font-weight:bold;/* font-family:Verdana; */border:1px solid #9C3;text-decoration:none}.pagebar a,.pagebar_comment a{padding:0 5px}.pagebar a:hover,.pagebar_comment a:hover{background:#9C3;text-decoration:underline;}
.pagebar .now-page{padding:0 5px;color:#FF0000;background-color:#9C3}.post .post-head{padding:18px 13px 0 60px;float:left;width:587px;height:30px;background:url(image/post_head.gif) no-repeat}.fenxiang{margin:6px 0 0 0;font-size:1.2em;float:left}.post .post-body,.post-url,.post-multi,.post-rt {padding:0 13px;float:left;width:634px;background:url(image/post_body.gif) repeat-y}.post .post-tags,.post-purl{padding:10px 13px;float:left;width:634px;background:url(image/post_body.gif) repeat-y}.post .post-navs{padding:0;margin:16px 0 4px 0;font-size:1.4em;float:left;width:634px;background:#ebe8e4;border-bottom:1px #d0d4c8 dashed}.post .post-foot{padding:12px 13px 0 13px;float:left;width:634px;height:34px;color:#999;text-align:right;background:url(image/post_foot.gif) bottom no-repeat}.post span.tags{float:left}.post span.tags a{margin:0 4px 0 0;}.post .post-navs .l{float:left}.post .post-navs .r{float:right}
.post .post-head h2{font-size:1.6em;font-weight:bold;float:left}.post .post-head h2 a{color:#030}.post .post-head h2 a:hover{color:#ff0000}.post .post-head h4{margin:0;padding:0;font-size:1.2em;font-weight:500;float:right}.post .post-body,.post-url,.post-multi,.post-rt {font-size:1.4em;word-wrap:break-word;word-break:normal;text-align:left;line-height:1.8em;overflow:hidden}.post .post-body a{color:#900;text-decoration:underline}.post .post-body a:hover{color:#FF0000}.post .{text-indent:2em}.post .post-multi p {padding:0;margin:8px 0;text-indent:2em;}.post-rt h4{margin:2px 0;padding:2px 0;font-weight:bold;border-bottom:1px #cfc3ba solid;background:#ebe8e4}.post-rt ul{padding:4px 0}.post-rt li{border-bottom:1px #d0d4c8 dashed}.post .post-rt span{float:right;color:#999}.post .post-url span{padding:6px 0;float:right}.post .post-body div.media a{padding-left:16px;background:#FBFBFB url("image/media.gif") no-repeat 0 center}.post .post-body img{padding:4px;border:0;clear:both;float:none}.post .post-body p{margin:10px 0 15px 0;padding:0;text-indent:2em;text-align:justify;}.post .post-body p.img{margin:0;padding:0;text-align:center}.post .post-body p.inscript{margin:0;padding:0;padding-right:20px;text-align:right}.post .post-body p.code{padding:5px;border:1px dotted black}.post .post-body div.code{padding:5px;border:1px dotted black}#CommentBox .post-body{padding:0 14px;float:left;width:634px;background:url(image/post_body.gif) repeat-y}.function{padding:0 0 21px 0;float:left;width:242px;background:url(image/function.jpg) bottom no-repeat;}.function h3{padding:20px 0 0 80px;float:left;color:#000;font-size: 1.4em; font-weight: bold;width:162px;height:32px;background:url(image/function_h3.gif) no-repeat;}.function ul{padding:0 13px;float:left;width:216px;background:url(image/function_ul.jpg) repeat-y;word-wrap:break-word;overflow:hidden;}.function li{padding:2px 0;/*width:216px*/}.function.huceo li{float:left;width:200px;background:url("image/pic.png") left 4px no-repeat;padding-left:16px;}.function.dingyue li{padding:0 0 4px 6px;color:#000}.function.dingyue li span{padding:0 6px 0 0;color:#000}.function.huceo.view li{background-position:0 -184px}.function.huceo.tags li,.function.huceo.link li{background-position:0 -122px}.function.huceo.link li a{margin:2px}
.function.huceo.ment li{background-position:0 -60px;border-bottom: 1px dashed #999;}.function.huceo.ment li:hover {background:#f9ffdd;}.function.huceo.xing li{background-position:0 -246px}.function.huceo.yfgd li{color:#000;background-position:0 2px}#Calendar{}#Calendar p{float:left;width:28px;height:20px;line-height:20px;text-align:center}#Calendar .y{width:100%}#Calendar .w{font-size:0.9em}#Calendar .yd a{color:#FF6600}#SearchPanel #btnPost {background:url("image/csg.png") no-repeat}
#SearchPanel{}#SearchPanel #searchform{margin:0;padding:0 4px;float:left}#SearchPanel #edtSearch{margin:0;padding:0 4px;float:left;width:155px;height:18px;line-height:18px;border-top:1px solid #52840B;border-left:1px solid #52840B;border-right:none;border-bottom:1px solid #52840B}#SearchPanel #btnPost{margin:0;padding:0 4px;float:left;width:40px;height:20px;border:none;background-position:0 -140px}#CommentBox{padding:0 0 20px 0;float:left;width:660px;background:url(image/CommentBox.gif) bottom no-repeat}#CommentBox h3{padding:20px 13px 0 60px;float:left;font-weight:bold;font-size:1.2em;color:#1a4d0b;width:587px;height:30px;background:url(image/post_head.gif) no-repeat}#CommentBox ul,#CommentBox #divCommentPost{padding:0 13px;float:left;width:634px;background:url(image/post_body.gif) repeat-y}
.commentpost label {height: 20px;overflow: hidden;clear: left;float: left;line-height: 15px;border-color: #CCC;border-style: solid;border-width: 1px 0 1px 1px;margin: 0;padding: 6px 10px;
}
#CommentBox .msg .commentpost label{margin-top:9px;}
#CommentBox .msg p.postbottom{font-size:1.2em;}
.reply-frm {margin-left:-23px;}
#CommentBox p small{float: right;margin-right:10px;color:#333;}
#inpName,#inpEmail,#inpHomePage{border: 1px solid #ddd;height: 20px;width: 40%;padding: 6px 10px 6px 10px;line-height: 15px;margin-right: 10px;}
#inpVerify{padding:2px 4px 2px 14px;}
#txaArticle{background:url(image/liuy.png) no-repeat}p.posttop{padding:4px 0;margin:8px 0 2px 0;line-height: 30px;font-size:1.3em;font-weight:bold;color:#1a4d0b;border-bottom:1px #cfc3ba solid;background:#ebe8e4}p.postbottom{margin:0 0 12px 0;padding:10px 0 0 0}#frmSumbit{padding:0;margin:0}#frmSumbit p{padding:5px 0 5px 0}input.button{padding:2px 4px;margin-right:6px;border:0;border-color: #1a4d0b;border-radius: 2px;font-size:1.4em;color:#FFD700;float:right;width:106px;height:30px;background:#006700;cursor:pointer}input.text{padding:0.15em 0.25em 0.20em 0.25em;border:1px double #bbb;width:200px;background:white}textarea.text{padding:0.15em 0.25em 0.20em 0.25em;margin: 10px 0 8px 0;border:1px double #bbb;width:80%;height:80px;background:white;width:620px;height:120px}
ul.msg{table-layout:fixed;word-break:break-all;word-wrap:break-word;font-size:1.2em;}
.huifu:hover {background:#f9ffdd;}
ul.msg li.huifu dl{overflow: hidden; height: 100%;} 
ul.msg li.huifu dl dd{padding:0;margin:0;line-height: 24px;} 
ul.msg li.huifu dl dd{padding:0;margin:0;line-height: 24px;} 
ul.msg li.huifu dl dd{
padding: 8px 12px 8px 12px;
background: url(image/huifu.gif) no-repeat 10px 10px #FCFAF7;
border: 1px dashed #CCC;
margin: 10px 0;}
#vew a {
color:#000;
text-decoration: none;
}
#vew a:hover{
text-decoration:underline;
color: #ff0000;
}
/*margin-left: -2px;*/
ul.msg a{color:#000}ul.msg a:hover{color:#FF0000}li.huifu{height: 100%;border-bottom:1px dashed #6B8E23;text-align:left;}.huifu span.id{padding:10px 8px 0 0;float:left;font-size:1.4em;font-weight:bold}.huifu img {margin:10px 4px 0 0;float:left;height:28px;} 
.huifu span.id a{color:#FF0000;font-style:italic}.huifu span.ms{padding:10px 0 0 8px}.huifu span.ms a{color:#999}.huifu span.ms a:hover{color:#FF0000}#name{padding:10px 8px 0 0;}#posttime{color:#1a4d0b;text-align:left;font-size:1.1em}
/*文章聚合页*/
ul.Archives{
margin:20px 0;
font-size:0.7em;
}
/*评论列表*/

#CommentBox .msg {
    line-height: 52px;
    padding: 9px 9px 2px 9px;
    margin-top: 12px;
    border-radius: 5px;
    font-size:1.4em;
    border: 1px dotted #dddddd;
}

#CommentBox .msg .msgname {
    color: #999999;
}

#CommentBox .msg .msgarticle {
    color: #666666;
}
.msgtxt .msgarticle {
    margin-bottom: 4px;
}
#CommentBox .revertcomment {
    float: right;
}
#CommentBox .msg a {
    text-decoration: none;
    margin: 0 4px;
}
#CommentBox .msgname .avatar{
    vertical-align:middle;
    width: 40px;
    height: 40px;
    float: left;
    padding: 4px;
    border: 1px solid #eaeaea;
    box-sizing: content-box;
}
#CommentBox .revertcomment a {
    background: #9c6;
    color: #fff;
    border-radius: 5px;
    padding: 0.1em 1em 0.1em 1em;
    line-height: 3em;
    text-decoration: none;
}
#CommentBox .msg .msgarticle .msg {
    background-color: #FFFFF0;
    margin-top: 8px;
    font-size:1em;
    border: 1px solid #9c6;
}
.clear {
    clear: both;
    padding-top: 4px;
    padding-bottom: 4px;
}

#msgarticle{margin:6px 0 0 0;font-size:1.4em;list-style-position:outside;line-height:150%}
#msgarticle div.quote{margin:20px 10px 10px 30px;background:#EFFFD7 url("image/huifu.gif") no-repeat;padding-left:25px;padding-right:5px;border:1px dashed #ccc}
#msgarticle div.quote-title{font-size:100%}.list span.cm{padding-left:10px;font-size:1.4em}.list span.cm small{color:#999}.list span.cm em{color:#FF0000}
#cltx{float:left;position:relative;width:242px}.clgs{width:242px}.clgs1{position:fixed;_position:absolute;top:0;z-index:242}.codeText{border:1px solid #6C0;border-top:1px solid #6C0;width:99%;overflow:auto;margin:0;padding:0;background:#efffd7;font:14px "Arial",Monospace;}
/*百度分享*/
.bdfx {float:right;margin:-6px 0 0 0;}
.bdfxcl {margin:0 2px;}
.bdfxcl a{padding:2px;}
/*原创声明*/
/* .post .post-body .bd-reward-stl p {text-align:center} */
.reward{font-family:"microsoft yahei";background:#f1f1f1;padding:28px 0;color:#666;margin:32px auto;width:92%}
.reward .pay{
    margin: 0 18px;
    float: right;
    display: inline-block;
    width: 126px;
    height: 126px;
    background: url("image/wxpay.png") center center no-repeat;
    background-size: 110px auto;
    /* border: 2px solid #1e3346; */
}
/* 自适应*/
@media screen and (max-width:768px) {html,#mainer{font-size:1.2em;width: 100%;}#Menu{font-size:1.6em;}#divser{width:768px;}#pageer,#center,#header,#Logo,#bodyer{width:99%;}#sideer,#footer,#Blogad,#full,#Menu li span{display:none;}#Menu li{padding:6px 8px;}.single{width: 100%;}img,object{max-width:92%;}}
/*缩图*/
.post-multi span{display: inline; float: left;margin:18px 16px; }
/*标签*/
.ul_tags {list-style: none;margin: 50px 0px 50px 20px;padding: 0px;}  
.ul_tags li {float: left;line-height:200%;margin: 0px 130px 10px 0px;padding:0;text-align:justify;text-align-last:justify;}  
.ul_tags li  a{display:inline-block;text-align:center;}
/*留言侧栏头像*/
	img.side_avatar {
	float: left;
	margin: 3px 8px 0px 0px;
}
/*360站内搜索*/
#so360{white-space:nowrap}
#so360 form{margin:0;padding:0}
#so360_keyword{width:133px;height:20px;line-height:20px;font:13px arial;padding:
2px 5px;margin-right:5px;border:2px solid #99CC66;outline:0;vertical-align:middle}
#so360_keyword{background:url(https://p.ssl.qhimg.com/t01ab1a3fb05f0ee893.png)
 no-repeat 236px center}
#so360_submit{width:60px;height:28px;border:0;color:#fff;
 background:#99CC66;font-weight:bold;font:bold 13px arial;padding:0;
 padding-top:3px\9;cursor:pointer;
vertical-align:middle}
